---
import Title from "@src/components/atoms/Title/Title.astro";

import Categories from "../components/Categories.astro";
import type { CategoryWithPosts } from "@src/types/category.type";
import PostCard from "../components/PostCard/PostCard.astro";
interface Props extends CategoryWithPosts {}
const { slug, name, posts } = Astro.props;
---

<script

  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
></script>



<section class="fourth-category">
  <div class="swiper">
    <swiper-container

    >
      {
        posts.map((post) => {
          return (
            <swiper-slide>
              <PostCard {...post} class="slider__card"/>
            </swiper-slide>
          );
        })
      }
    </swiper-container>
  </div>
</section>




<script>
  const swiperEl = document.querySelector('swiper-container') as HTMLElement & { initialize: () => void };
  Object.assign(swiperEl, {
    slidesPerView: 3,
    spaceBetween: 1,
    autoplay: {
      delay: 2500,
      disableOnInteraction: true,
    }  ,
    breakpoints: {
      640: {
        slidesPerView: 1,
        spaceBetween: 20,
      },
      768: {
        slidesPerView: 3,
        spaceBetween: 40,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 50,
      },
    },

    navigation: true,
    pagination: true,
    loop: true
  });
  swiperEl.initialize();
</script>
<!--

slides-per-view="3"
      speed="500"
      loop="true"
      navigation="true"
      mousewheel="true"
      keyboard="true"
      grab-cursor="true"
-->