
@use "@sass/variables" as v;
@use "@sass/mixins" as mixins;

.logo{
  color: white;
  @include mixins.centerFlex(space-between);
  gap:1rem;
  &:hover span{
    color:aqua;
    filter: drop-shadow(0 0 12px aqua);
  }
  &__container{
    display: flex;
    flex-direction: column;
  }
  &__title{
    font-size: 1.9rem;

  }
  &__slogan{
    color: aqua;
  }
  &__img {
    max-width: 4.5rem;
    flex-basis: 10%;
  }
}
.dark .logo span{
  color: aqua;
  filter: drop-shadow(0 0 12px aqua);
}
