@use "@sass/variables" as v;
@use "@sass/mixins" as *;

.menu {
  --background-color-theme: #010002;
  --background-color-theme-hover: #383838;
  --background-color: #6600cc;
  --color: #43d47d;

  display: none;
  position: fixed;
  z-index: 1100;
  height: 100%;
  width: 100%;
  padding: 3rem;
  left: 100%;
  transition: left 0.4s ease;
  justify-content: center;
  background-color: var(--background-color-theme);

  &__support {
    display: flex;
    align-items: center;
    height: 2.4rem;
    padding: 0 1.2rem 0 1.5rem;
    border-radius: 4px;
    font-weight: 600;
    color: var(--color);
    background-color: var(--background-color);
    transition: all 0.3s ease-in;

    &:hover {
      background-color: #43d47d2d;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 40rem;
    gap: 1rem;

    li,
    summary {
      width: 100%;
    }

    .details__icon {
      background-color: var(--background-color);
      color: #33ff76;
      width: 2.4rem;
      height: 2.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.4rem;

      iconify-icon {
        font-size: 2.4rem;
        transition: transform 0.3s ease;
      }
    }

    summary {
      gap: 1rem;
      justify-content: space-between;
    }

    details {
      width: 100%;
      interpolate-size: allow-keywords;

      &::details-content {
        transition:
          height 0.5s ease,
          opacity 0.5s ease,
          content-visibility 0.5s allow-discrete;
        opacity: 0;
        height: 0;
        overflow: clip;
      }

      &:open {
        iconify-icon {
          transform: rotate(180deg);
        }

        &::details-content {
          height: auto;
          opacity: 1;
        }
      }
    }

    a,
    summary {
      width: 100%;
      font-size: 1.7rem;
      height: 5rem;
      color: white;
      display: flex;
      align-items: center;
    }

    .children__list {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-left: 2rem;

      li {
        padding-left: 2rem;
        height: 3.5rem;
        display: flex;
        align-items: center;
        border-radius: 0.4rem;
        background: linear-gradient(
          to right,
          rgba(102, 0, 204, 0.5),
          transparent
        );

        a {
          height: auto;
        }
      }
    }
  }
}

.activate-menu {
  left: 0;
}

.no-scroll {
  overflow: hidden;
}

@include respond-to("medium") {
  .menu {
    display: flex;
  }
}
