---
import InputComponent from "@src/components/atoms/InputComponent/InputComponent.astro";
---

<form action="/resultados" method="get" id="search-form" class="search">
  <label for="search" class="search__label">
    <InputComponent
      type="text"
      placeHolder="Buscar"
      name="search"
      id="search"
      class="search__input"
    />
  </label>
  <InputComponent type="submit" value="Buscar" class="search__submit" />
</form>
