---
const { postId = null, isLogged = false  } = Astro.props;
const hidden = isLogged;
---


<form method="post" id="comment-form" class="comment-form">
  {
    isLogged && (
      <h3 class="comment-form__title">Conectado como <span class="comment-form__title-username">{ isLogged.name }</span>. Deja un comentario</h3>
    )
  }
  <input type="hidden" name="postId" value={postId} />
  <input type="hidden" name="parentId" value="" />
  <div class={`comment-form__field ${hidden ? 'comment-form__field--hidden' : ''}`}>
    <label for="author" class="comment-form__label">Nombre</label>
    <input
      id="author"
      name="author"
      type="text"
      class="comment-form__input"
    />
  </div>
  <div class={`comment-form__field ${hidden ? 'comment-form__field--hidden' : ''}`}>
    <label for="authorEmail" class="comment-form__label">Correo electrónico</label>
    <input
      id="authorEmail"
      name="authorEmail"
      type="email"
      class="comment-form__input"
    />
  </div>
  <div class={`comment-form__field ${hidden ? 'comment-form__field--hidden' : ''}`}>
    <label   for="authorUrl" class="comment-form__label">Sitio web (opcional)</label>
    <input
      id="authorUrl"
      name="authorUrl"
      type="url"
      class="comment-form__input"
    />
  </div>
  <div class="comment-form__field">
    <label for="content" class="comment-form__label">Comentario</label>
    <textarea
      id="content"
      name="content"
      required
      class="comment-form__textarea"
    ></textarea>
  </div>
  <button
    type="submit"
    id="add-comment"
    class="comment-form__submit-btn"
  >
    Publicar Comentario
  </button>
  <p id="success-message" class="comment-form__message comment-form__message--success comment-form__message--hidden">Comentario publicado exitosamente.</p>
  <p id="error-message" class="comment-form__message comment-form__message--error comment-form__message--hidden">Hubo un problema al publicar tu comentario.</p>
</form>

<script>
  const form = document.getElementById("comment-form") as HTMLFormElement;
  const successMessage = document.getElementById("success-message");
  const errorMessage = document.getElementById("error-message");

  form.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    try {
      const commentData = await sendComment(formData);
      insertComment(commentData.data);

    } catch (error) {
      console.error("Error al enviar el comentario:", error);
      successMessage.classList.add("comment-form__message--hidden");
      errorMessage.classList.remove("comment-form__message--hidden");
    }
  });

  function insertComment(comment: any) {

    const template = document.querySelector("[data-template-comment]");
    const comments = comment.parent !== "" 
      ? document.querySelector(`[data-replies][data-commentid="${comment.parent}"]`)
      : null;
    
    const clone = template.cloneNode(true) as HTMLElement;
    clone.removeAttribute("hidden");

    const [autor, content, date] = [
      clone.querySelector("[data-comment-author]") as HTMLElement || undefined,
      clone.querySelector("[data-comment-content]") as HTMLElement || undefined,
      clone.querySelector(".comment__date") as HTMLElement || undefined
    ]

    const fecha = new Date();

    const formatt = fecha.toLocaleDateString('es-ES', {
        weekday: 'long',
        year: 'numeric',
        month: 'long',
        day: 'numeric'
    });
    
    date ? (date.innerText = formatt) : null;
    content ? (content.innerHTML = comment.content) : null;
    autor ? (autor.innerText = comment.author) : null;
    
    comments 
      ? comments.appendChild(clone) 
      : template.insertAdjacentElement("afterend", clone);
  }

  async function sendComment(formData: FormData) {
    try {
        const res = await fetch(`/api/comments/replies`,{
            method: 'POST',
            body:formData
        })
        const data = await res.json();
        return data;

    } catch (error) {
        console.error(error)
    }

}
</script>
