---
import Layout from "@layouts/Layout.astro";
import { getLanguages } from "@services/querys/languages/getLanguages";
import LanguageCard from "./components/LanguageCard.astro";
const languages = await getLanguages();
// console.log(languages);

const sortByoldest = languages.sort((a, b) => {
  const dateA = new Date(a.date) as unknown as number;
  const dateB = new Date(b.date) as unknown as number;
  return dateA - dateB;
});
---

<Layout title="Aprender a programar">
  <section class="languages" id="languages">
    <script
      is:inline
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3828278469742835"
      crossorigin="anonymous"></script>
    <!-- banerHorzontal -->
    <ins
      class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-3828278469742835"
      data-ad-slot="1391467357"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
    <script is:inline>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <h1 class="text-gradient">Languages</h1>

    <div class="languages__container">
      {sortByoldest.map((language) => <LanguageCard language={language} />)}
    </div>
  </section>
</Layout>

<style lang="scss">
  @use "@sass/variables" as *;
  @use "@sass/mixins" as *;

  .languages {
    width: 100%;
    max-width: 1100px;
    height: 100%;
    min-height: 100dvh;
    margin: 0 auto;
    padding: 1rem;
    @include flexConfig();
    margin-top: 6rem;
    flex-direction: column;
    gap: 2rem;
    &__container {
      height: 100%;
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
      width: 100%;
      gap: 2rem;
    }
  }
</style>
