---
import Layout from "@layouts/Layout.astro";
import { getLanguages } from "@services/querys/languages/getLanguages";
import LanguageCard from "./components/LanguageCard.astro";
const languages = await getLanguages();
// console.log(languages);

const sortByoldest = languages.sort((a, b) => {
  const dateA = new Date(a.date) as unknown as number;
  const dateB = new Date(b.date) as unknown as number;
  return dateA - dateB;
});

---

<Layout title="Aprender a programar">
  <section class="languages" id="languages">
    <h1 class="text-gradient">Languages</h1>
    <div class="languages__container">
      {
        sortByoldest.map((language) => (
          <LanguageCard language={language} />
        ))
      }
    </div>
  </section>
</Layout>

<style lang="scss">
  @use "@sass/variables" as *;
  @use "@sass/mixins" as *;

  .languages {
      width: 100%;
      max-width: 1100px;
      height: 100%;
      min-height: 100dvh;
        margin: 0 auto;
      padding: 1rem;
    @include flexConfig();
    flex-direction: column;
    gap: 2rem;
    &__container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
      width: 100%;
      gap: 2rem;
    }
  }

</style>
