---
import SecondaryCard from "../components/SecondaryCard/SecondaryCard.astro";
import Title from "@atoms/Title/Title.astro";
import type { Post } from "@src/types/post.type";

import CardBig from "../components/CardBig/CardBig.astro";
import type { CategoryWithPosts } from "@src/types/category.type";



interface Props extends CategoryWithPosts {
  reverse?: boolean
}

const { slug, name, posts, reverse=false } = Astro.props;

const DEFAULT_POST = posts[0];
---

<div class="bg-section"  >
  <section  class="web-dev">
    <a href={`/categories/${slug}`} class="web-dev__link">
      <Title titleDesc={name} class="web-dev__title" />
    </a>
    <div  class={reverse ? "web-dev__container web-dev__container--reverse" : "web-dev__container"  } >
      <ul class="web-dev__list">
        {
          posts.slice(1, 4).map((post) => {
            return (
              <li>
                <SecondaryCard {...post} />
              </li>
            );
          })
        }
      </ul>

      <!-- CARD GRANDE -->
      <CardBig {...DEFAULT_POST} />
    </div>
  </section>
</div>
