/* // VARIABLES DE SCSS */
$mainColor: var(--mainColor);
$seccondaryColor: var(--bg-color);
$french-violet: #6600cc;
$light-violet: #8a5ae8;
$dark-violet: var(--dark-violet);
$cetacean-purple: var(--cetaceanPurple);
$ufo-green: var(--ufoGreen);
$aqua: #58ecff;
$bgDark: #0e1217;
$text-color: #555;
/* Gradientes del texto */

$text-over-dark: radial-gradient(circle,#6600CC 0%,#009990 100%);
$text-over-light: radial-gradient(circle,#33FF76 0%,#58ECFF 100%);





/*Gradiente Ligth mode   */
$color-background-body-ligth: #09060c;
$color-background-before-ligth: #0c0912;
$color-gradient1-start-ligth: rgba(63, 5, 157, 0.3);
$color-gradient1-end-ligth: rgba(64, 8, 149, 0);
$color-gradient2-start-ligth: rgba(77, 8, 173, 0.5);
$color-gradient2-middle-ligth: rgba(74, 7, 182, 0.4);
$color-gradient2-end-ligth: rgba(87, 14, 196, 0);
$color-gradient3-start-ligth: rgba(90, 17, 155, 0.2);
$color-gradient3-middle-ligth: rgba(64, 5, 131, 0.1);
$color-gradient3-end-ligth: rgba(70, 13, 144, 0);
$color-gradient4-start-ligth: rgba(52, 0, 124, 0.075);
$color-gradient4-end-ligth: rgba(52, 0, 124, 0.05);
$color-background-gradient5-ligth: #0d0b13;
$color-gradient6-start-ligth: rgba(21, 2, 58, 0.5);
$color-background-gradient6-ligth: #100223;
$color-background-after-ligth: #17131c;

/*Gradiente dark mode   */
$color-background-body: #09060c;
$color-background-before: #0c0912;
$color-gradient1-start: rgba(63, 5, 157, 0.3);
$color-gradient1-end: rgba(64, 8, 149, 0);
$color-gradient2-start: rgba(77, 8, 173, 0.5);
$color-gradient2-middle: rgba(74, 7, 182, 0.4);
$color-gradient2-end: rgba(87, 14, 196, 0);
$color-gradient3-start: rgba(90, 17, 155, 0.2);
$color-gradient3-middle: rgba(64, 5, 131, 0.1);
$color-gradient3-end: rgba(70, 13, 144, 0);
$color-gradient4-start: rgba(52, 0, 124, 0.075);
$color-gradient4-end: rgba(52, 0, 124, 0.05);
$color-background-gradient5: #0d0b13;
$color-gradient6-start: rgba(21, 2, 58, 0.5);
$color-background-gradient6: #100223;
$color-background-after: #17131c;
