$mainColor: rgb(12 12 12);
$secundaryColor: #f1f1f1;
$french-violet: #6600cc;
$cetacean-purple: #140030;
$ufo-green: #33ff76;
$aqua: #58ecff;
$bgDark: #0e1217 ;


/* Gradientes del texto */

$text-over-dark: radial-gradient(circle, #6600cc 0%, #009990 100%);
$text-over-light: radial-gradient(circle, #33ff76 0%, #58ecff 100%);
