@use '@sass/variables' as v;
@use "@sass/mixins" as mixins;
@use "@sass/animations" as animations;
@use "@atoms/Title/title" as title;
@use "@atoms/Button/button" as button;
@use "@atoms/PostCard/post-card" as postCard;
@use "@atoms/Subtitle/subtitle" as subtitle;
@use "@atoms/SocialIcons/social-icons" as socialIcons;
@use "@molecules/Header/header" as header;
@use "@organisms/Posts/posts" as posts;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  margin: 0;
  font-size: 62.5%;
  font-optical-sizing: auto;
}

body {
  overflow-x: hidden;
  @include mixins.font-family("montserrat");
  @include mixins.isTheme("ligth");
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: v.$secundaryColor;
  cursor: pointer;
}
p {
  font-size: 1.6rem;
}
li {
  list-style: none;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.7rem;
  font-weight: 700;
}

figure {
  width: 100%;
}

code {
  font-size: 1.5rem;
  background-color: #1f1f1f;
  padding: 0.1rem .3rem;
  color: v.$ufo-green;
  border-radius: 0.3rem;
}

#post {
  h1 {
    @include mixins.text-gradient("dark");
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  h3 {
    font-size: 1.8rem;
    font-weight: 700;
  }
  a {
    color: v.$french-violet;
  }

  .wp-block-kevinbatdorf-code-block-pro.cbp-has-line-numbers,
  .wp-block-kevinbatdorf-code-block-pro {
    width: 100%;
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    kbd,
    samp,
    pre {
      overflow-x: scroll;
      text-wrap: wrap;
      width: 100%;
      height: auto;
      min-height: 100%;
      line-height: 1.5;
      padding: 1rem;
      border-radius: 0 0 0.5rem 0.5rem;
    }

  }
  .wp-block-list {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 100%;
      list-style: disc;
      font-size: 1.6rem;
      font-weight: 500;
    }
  }
  .wp-block-image img {
    margin: 0 auto;
  }
  figure {
    margin: 0 auto;
    width: 100%;
  }
  code span {
    width: 100%;
    overflow-x: auto;
  }
  /* width */
::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1f1f1f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: v.$ufo-green;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
  height: 5px;
}



}

.dark {
  body {
    @include mixins.isTheme("dark");
  }
  #post {
    h1 {
      @include mixins.text-gradient("ligth");
    }
  }
}
