@use "@sass/variables" as v;
@use "@sass/mixins" as *;
@use "@sass/animations" as animations;
@use "@atoms/Title/title" as title;
@use "@organisms/Posts/components/PostCard/post-card" as postCard;
@use "@atoms/Subtitle/subtitle" as subtitle;
@use "@atoms/SocialIcons/social-icons" as socialIcons;
@use "@molecules/Header/header" as header;
@use "@organisms/Posts/FirstCategory/tutoriales" as tutoriales;
@use "@molecules/Comment/comment" as comment;
@use "@molecules/SearchForm/search-form" as searchForm;
@use "@organisms/Comments/comments" as comments;
@use "@pages/blog/blog" as blog;
@use "@organisms/Posts/SecondCategory/desarrollo-web" as web;
@use "@organisms/Posts/FourthCategory/fourth-category" as fourthCategory;
@use "@organisms/Posts/components/CardBig/card-big" as cardBig;
@use "@pages/support/support" as support;
@use "@molecules/sideBar/side-bar" as sideBar;
@use "@molecules/footer/footer" as footer;
@use "@molecules/CommentForm/comment-form" as commentForm;
:root {
  --mainColor: rgb(12, 12, 12);
  --bg-color: #f1f1f1;
  --bg-card: #fff;
  --frenchViolet: #6600cc;
  --cetaceanPurple: #140030;
  --dark-violet: #1d0d38;
  --ufoGreen: #33ff76;
  --aqua: #58ecff;
  --bgDark: rgb(14, 18, 23);
  --textColor: #555;
  --text-gradient: linear-gradient(to right, #6600cc 0%, #009990 100%);
  --text-gradient-ufo: linear-gradient(to right, #33ff76 0%, #58ecff 100%);
  --border-color: var(--frenchViolet);
  --card-border: 1px solid #c8c5c5d3;
}
/* Tema oscuro */
.dark {
  --mainColor: #f1f1f1;
  --bg-color: #110824;
  --card-border: 1px solid #1a2a2e;
  --bg-card: #1a1e27;
  --dark-violet: #0e0e0e;
  --frenchViolet: #9933ff;
  --textColor: #ddd;
  --text-gradient: linear-gradient(to right, #33ff76 0%, #58ecff 100%);
  --border-color: rgba(199, 158, 252, 0.808);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  margin: 0;
  font-size: 62.5%;
  font-optical-sizing: auto;
  height: 100%;
}

body {
  overflow-x: hidden;
  @include font-family("montserrat");
  background: var(--bg-color);
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: v.$seccondaryColor;
  cursor: pointer;
}
p,
b,
strong,
pre {
  font-size: 1.6rem;
}
li {
  list-style: none;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.7rem;
  font-weight: 700;
}
h4 {
  font-size: 1.6rem;
  font-weight: 700;
}
figure {
  width: 100%;
  overflow-x: auto;
}

code {
  text-wrap: balance;
  line-break: auto;
}

table {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-collapse: collapse;
}

tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.05);
}

table thead th,
table tfoot th {
  font-size: 1.8rem;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.1);
}
table caption {
  padding: 1rem;
}
table th,
table td {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
  border: 1px solid lightgrey;
}

.text-gradient {
  @include text-gradient();
}
#post {
  h1 {
    @include text-gradient();
  }
}

// Sidebar Card Styles
.sidebar-card {
  padding: 1rem;
  @include flexConfig(center, flex-start);
  flex-direction: column;
  width: 100%;
  height: fit-content;
  min-height: 10dvh;
  box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.65);
  border-radius: 12px;
  background-color: var(--bg-card);
  color: var(--textColor);

  &:hover .card-image {
    transform: scale(1.1);
  }
}

.card-container {
  overflow: hidden;
  border-radius: 12px;

  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    transition: transform 0.3s ease-in-out;
  }
}

.card-title {
  text-align: left;
  margin-top: 0.4rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--textColor);
}

.card-excerpt {
  text-align: left;
  margin-top: 0.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--textColor);
}
