before starting any task or writing any code you must read , understand and follow  the project rules,guidlines and dcontext defined in
/home/sofidev/obsidian-sofi/04_PROYECTOS/CONTEXT_AI

then, you cuould find specific context about this proyect in  /home/sofidev/obsidian-sofi/04_PROYECTOS/sofi-blog