@use "@sass/variables" as v;
@use "@sass/mixins" as  *;

:root {
  --bg-render-comment: rgb(0, 0, 0, 0.02);
  --border-render-comment: rgb(0, 0, 0, 0.1);
  --button-hover: rgb(0, 0, 0, 0.06);
}

.comment {
  display: flex;
  flex-direction: column;
  width: 100%;

  & header {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1.2rem;

    & img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 100%;
    }

    & article {
      display: flex;
      flex-direction: column;

      & h3 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: -5px;
      }

      & p {
        font-size: 1.3rem;
        opacity: 0.6;
      }
    }
  }

  & .comment__container {
    display: flex;
    flex-direction: column;
    border-left: solid 1px var(--border-render-comment);
    margin: 1rem 0;
    margin-left: 2.5rem;
    padding-left: 3.5rem;
    width: 100%;

    & fragment {
      border: solid 1px var(--border-render-comment);
      background-color: var(--bg-render-comment);
      padding: 2rem;
      border-radius: 6px;
    }

    & .comment__button--container {
      margin: 1rem 0;
      display: flex;
      gap: 1rem;

      & button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        font-size: 1.4rem;
        font-weight: 500;
        gap: 0.7rem;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: var(--button-hover);
        }
      }
    }

    & .reply-container-comment {
      margin-top: 1.5rem;

      & .comment__button--read {
        display: none;
      }
    }
  }
}

.dark {
  --bg-render-comment: rgb(255, 255, 255, 0.1);
  --border-render-comment: rgb(255, 255, 255, 0.2);
  --button-hover: rgb(255, 255, 255, 0.1);
}

[hidden] {
  display: none;
}
