---

const comment = Astro.props;
const { isReply = false } = Astro.props;
const hidden = comment?.author ? false : true;

const dataParentId = comment?.parentId || null;
const commentId = comment?.id ? atob(comment?.id).split(":")[1] : null;
console.log(comment.date);
---

<article class="comment" {hidden}>
  <header class="comment__header">
    {/* image */}
    <img
      class="comment__avatar"
      src={comment.author?.node?.avatar?.url || "/img/default-avatar.jpg"}
      alt={comment.author?.node?.name || "Anónimo"}
      loading="lazy"
    />
    <div class="comment__author--container">
      <!-- author -->
      <h3 class="comment__author">{comment?.author?.node?.name || ""}</h3>
      <!-- date -->
    </div>
    <!-- <div class="comment__date">
      <iconify-icon icon="bx:calendar" width="18" height="18"></iconify-icon>
      <date-time
        class="comment__date"
        datetime={comment?.date ? commentDate : ""}>{commentDate}</date-time
      >
    </div> -->
  </header>
  <div class="comment__container">
    {/* comment content */}
    <fragment set:html={comment?.content || ""} class="comment__content" />
    {/* button read more */}
    <div class="comment__button--container">
      <button
        data-commentId={commentId || ""}
        data-parentId={dataParentId}
        class="comment__button comment__button--read"
      >
        <iconify-icon icon="game-icons:read" width="20" height="20"
        ></iconify-icon>
        <span class="comment__tooltip comment__tooltip--read"> Leer respuestas </span>
      </button>
      <button
        data-commentId={commentId || ""}
        data-parentId={dataParentId}
        class="comment__button comment__button--reply"
      >
        <iconify-icon icon="mingcute:comment-fill" width="24" height="24"
        ></iconify-icon>
        <span class="comment__tooltip comment__tooltip--reply "> Responder </span>
      </button>
    </div>
    {/* replies the comment */}
    <div class="">
      <slot />
    </div>
  </div>
</article>
