---
const comment = Astro.props;
const { isReply = false } = Astro.props;
const hidden = comment?.author ? false : true;

const dataParentId = comment?.parentId || null;
const commentId = comment?.id ? atob(comment?.id).split(":")[1] : null;
console.log(comment.date);
---

<section class="comment" {hidden}>
  <header class="comment__header">
    {/* image */}
    <img
      class="comment__avatar"
      src={comment.author?.node?.avatar?.url || "/img/default-avatar.jpg"}
      alt={comment.author?.node?.name || "Anónimo"}
      loading="lazy"
    />
    <article class="comment__author--container">
      <!-- author -->
      <h3 class="comment__author">{comment?.author?.node?.name || ""}</h3>
      <p>
        @ {
          comment?.author?.node?.name === "SofiDev" ? "administrador" : "lector"
        }
      </p>
      <!-- date -->
    </article>
  </header>
  <article class="comment__container">
    {/* comment content */}
    <fragment set:html={comment?.content || ""} class="comment__content" />
    {/* button read more */}
    <section class="comment__button--container">
      <button
        data-commentId={commentId || ""}
        data-parentId={dataParentId}
        class="comment__button comment__button--reply"
      >
        <iconify-icon icon="ic:baseline-reply" width="16" height="16"
        ></iconify-icon>
        <span class="comment__tooltip comment__tooltip--reply">
          Responder
        </span>
      </button>
      <button
        data-commentId={commentId || ""}
        data-parentId={dataParentId}
        class="comment__button comment__button--read"
      >
        <iconify-icon icon="mi:message" width="16" height="16"></iconify-icon>
        <span class="comment__tooltip comment__tooltip--read"> Ver más </span>
      </button>
    </section>
    {/* replies the comment */}
    <section class="reply-container-comment">
      <slot />
    </section>
  </article>
</section>
