@use "@sass/variables" as v;
@use "@sass/mixins" as mixins;
.categories__container {
  @include mixins.centerFlex();
  flex-direction: column;
  gap: 8rem;
  margin-top: 6rem;
  padding-block: 2rem;
  writing-mode: horizontal-tb;

  .category__section {
    width: 90vw;
    max-width: 1180px;
    .category__title {
      @include mixins.centerFlex(space-between, flex-end);
      border-bottom: 0.2px solid v.$mainColor;
      margin-bottom: 4rem;
      width: 100%;

      & h2 {
        font-size: 1.8rem;
        font-weight: 500;
        padding: 0px 10px;
      }
      & a {
        color: v.$mainColor;
        @include mixins.centerFlex();
        .title__arrow {
          transform: translateX(0);
          transition: transform 0.3s ease-in-out;
        }
        &:hover .title__arrow {
          transform: translateX(5px);
        }
      }
      & h2, a{
        margin-bottom: 1.5rem;
      }
    }
  }
}

.link-card-grid {
  display: grid;
  place-content: start;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 21.7%));
  grid-template-rows: auto;
  gap: 4.3rem;
  justify-content: flex-start;
  width: 100%;
  @include mixins.respond-to("medium") {
    justify-content: center;
  }
}

.dark {
  .category__section {
    .category__title {
      border-bottom: 0.2px solid v.$ufo-green;
      & a {
        color: v.$seccondaryColor;
        .title__arrow {
          transform: translateX(0);
          transition: transform 0.3s ease-in-out;
        }
        &:hover .title__arrow {
          transform: translateX(5px);
        }
      }
    }
  }
}
