---
import PostCard from "@organisms/Posts/PostCard/PostCard.astro";
import type { CardPost } from "@src/types/post.type";
interface Props {
  slug: string;
  name: string;
  posts: CardPost[];
}

const { slug, name, posts } = Astro.props;
---

<!-- Renderizado de los posts -->
<div class="categories__container">
  <section class="category__section">
    <div class="category__title">
      <h2>{name}</h2>
      <a
        href={`/categories/${slug}`}
        class="category__title__link"
      >
        Ver más
        <iconify-icon
          class="title__arrow"
          icon="fe:arrow-right"
          width="24"
          height="24"
          style="color: current"></iconify-icon>
      </a>
    </div>
    <ul class="link-card-grid">
      {
        posts.slice(0, 4).map((post) => {
          return (
            <li>
              <PostCard {...post} />
            </li>
          );
        })
      }
    </ul>
  </section>
</div>
