---
import PostCard from "@atoms/PostCard/PostCard.astro";
import { cardsData as data } from "@services/getCards.js";

const cardsData = await data();
if (!cardsData) {
  return Astro.redirect("/404");
}
// Verificar si existen datos de los posts
if (!cardsData?.posts?.nodes) {
  throw new Error("Los datos de las publicaciones no están disponibles.");
}

function filterCategories(post, categoriName) {
  return post.filter(
    (category) => category?.categories.nodes[0].name.toLowerCase() === categoriName.toLowerCase()
  );
}
const astroCategory = filterCategories(cardsData?.posts?.nodes, "Astro");
const learnProgrammingCategory = filterCategories(
  cardsData?.posts?.nodes,
  "Aprender a programar"
);
const wslCategory = filterCategories(
  cardsData?.posts?.nodes,
  "wsl"
);
console.log("wslCategory", wslCategory);
---

<!-- Renderizado de los posts -->
<div class="categories__container">
<section class="category__section" id="Mis notas">
      <div class="category__title">
        <h2>{astroCategory[0]?.categories?.nodes[0]?.name}</h2>
        <a
          href={`/categories/${astroCategory[0]?.categories?.nodes[0]?.slug}`}
          class="category__title__link"
        >
          Ver más
          <iconify-icon
            class="title__arrow"
            icon="fe:arrow-right"
            width="24"
            height="24"
            style="color: current"></iconify-icon>
        </a>
      </div>
      <ul class="link-card-grid">
        {
          astroCategory.slice(0, 4).map((post) => {
            return (
              <li class="link-card-grid__item">
                <PostCard {...post} />
              </li>
            );
          })
        }
      </ul>
    </div>
  </section>
</div>
