---
import { wpquery } from "@src/data/wordpress";
import Layout from "@src/layouts/Layout.astro";
import { replaceIframes } from "@src/utils/index"

export async function getStaticPaths() {
  const data = await wpquery({
    query: `
        query getPostContent {
            cssVariables
             posts {
                nodes {
                author {
                    node {
                    avatar {
                        url
                    }
                    lastName
                    name
                    firstName
                    description
                    }
                }
                slug
                date
                title
                content(format: RENDERED)
                contentType {
                    node {
                    id
                    }
                }
                }
            }
            tags {
                nodes {
                name
                }
            }
            }

        `,
  });

  return data.posts.nodes.map((post: any) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}
const { post }: any = Astro.props;

---

<Layout>
  <section id="post" class="flex items-center justify-center w-full pt-36 pb-20 px-10">
    <article class="flex flex-col w-full max-w-[900px]">

      <div class="flex gap-3 items-center my-5 px-3 group">
        <img
          class="w-24 h-24 group-hover:scale-110 rounded-full"
          src={post.author.node.avatar.url}
          alt={post.author.node.name}
        />
        <p class="text-3xl font-bold">{post.author.node.name}</p>
      </div>
      <h1 class="font-bold text-[2.5rem] md:text-[4rem] my-10 text-center text-pretty">{post.title}</h1>
      <div
        class="w-full md:max-w-[800px] flex flex-col items-start gap-10 justify-center self-center text-left"
      >
      <Fragment  set:html={replaceIframes(post.content) || ""}/>
      </div>
    </article>
  </section>
</Layout>
<script>
  import { fastYoutube } from "@src/utils/fast-youtube";
</script>