---
import NavMenu from "@/shared/components/Header/NavMenu/NavMenu.astro";
import HamburgerButton from "@/shared/ui/HamburgerBtn/HamburgerBtn.astro";
import Logo from "@/shared/ui/Logo/Logo.astro";
export const prerender = false;
---

<script>
  import "@/controllers/hamburger.controller";
</script>

<header class="header">
  <script></script>
  <div class="header__container">
    <Logo />
    <NavMenu />
    <HamburgerButton />
  </div>
</header>
