---
import BaseHead from "@shared/components/BaseHead.astro";
import ThemeIcon from "@shared/components/ThemeIcon.astro";
import DashboardSidebar from "./_components/DashboardSidebar.astro";
import DashboardNav from "./_components/DashboardNav.astro";
import DashboardSidebarToggle from "./_components/DashboardSidebarToggle.astro";

const pathName = Astro.url.pathname;
export const prerender = true;
---

<!doctype html>
<html lang="en">
  <head>
    {
      pathName === "/" ? (
        <BaseHead />
      ) : (
        <BaseHead
          title={
            pathName.charAt(1).toUpperCase() + pathName.slice(2).split("/")[0]
          }
        />
      )
    }
  </head>

  <body>
    <ThemeIcon />
    <main>
      <div class="dashboard" id="dashboardLayout">
        <DashboardSidebar class="dashboard__sidebar">
          <DashboardNav slot="sidebar-menu" />

          <div class="sidebar-footer" slot="sidebar-footer">
            <form action="/api/auth/signout" method="POST">
              <button type="submit" class="logout-btn">
                <iconify-icon icon="mdi:logout" width="24" height="24"
                ></iconify-icon>
                <span class="menu-text">Cerrar Sesión</span>
              </button>
            </form>
          </div>
        </DashboardSidebar>

        <main class="main-content">
          <slot />
        </main>
      </div>
    </main>
  </body>
</html>

<DashboardSidebarToggle />
