---
import BackgroundGradient from "../../atoms/BackgroundGradient /BackgroundGradient.astro";
import StickyPost from "../StickyPost/StickyPost.astro";


---


<BackgroundGradient>
    <section class="hero flex flex-col justify-center items-center min-h-[100dvh] max-w-[1200px] m-auto">
        <StickyPost />

    </section>
</BackgroundGradient>