---
import PostCard from "@atoms/PostCard/PostCard.astro";
import { findCategory } from "@utils/findCategory";
import { getCategoriesWithPosts } from "@services/categoriesWithPosts";
const { categories } = Astro.props;
// const categoriesWithPosts = await getCategoriesWithPosts();
import {categoryPost} from "@services/getCategoryPost";

const nodeJsId = categories["aprender-a-programar"];

const postCategory = await categoryPost(nodeJsId);
console.log(postCategory.posts);

console.log("category id", nodeJsId);

---

<!-- Renderizado de los posts -->
<div class="categories__container">
  <section class="category__section">
  <!--   <div class="category__title">
      <h2>{astroPosts[0]?.categories[0]?.name}</h2>
      <a
        href={`/categories/${astroPosts[0]?.categories[0]?.slug}`}
        class="category__title__link"
      >
        Ver más
        <iconify-icon
          class="title__arrow"
          icon="fe:arrow-right"
          width="24"
          height="24"
          style="color: current"></iconify-icon>
      </a>
    </div> -->
    <ul class="link-card-grid">
      {
        postCategory.posts.nodes.slice(0, 4).map((post) => {
          return (
            <li>
              <PostCard {...post} />
            </li>
          );
        })
      }
    </ul>
  </section>
</div>
