
@use '@sass/mixins' as  *;


.sidebar {
    position: sticky;
    top: 7.5rem;
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    padding: 1rem;
    .title {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .button {
        background-color: #c3190c;
        text-align: center;
        width: 100%;
        padding: 1rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.75rem;

        &:hover {
            background-color: #a50d0c;
        }
    }
    .search{
        margin-bottom: 2rem;
    }
}

.cardWrapper{
    margin-top:5rem;
    @include centerFlex();
    flex-direction: column;
    gap: 1rem;
    width: 100%
}