---
import { getCategoriesWithPosts } from "@src/services/categoriesWithPosts";
const { category } = Astro.props;


import SocialIcons from "@src/components/atoms/SocialIcons/SocialIcons.astro";
import CardSidebar from "./cards-sidebar/CardSidebar.astro";
import Button from "@src/components/atoms/Button/Button.astro";
const sidecardData = await getCategoriesWithPosts();
const categoryName = category.name.toLowerCase().replaceAll(" ", "-");

const posts = sidecardData?.[categoryName]?.[0]?.posts?.slice?.(0, 3);
---
<div id="toc_container-new"></div>
<Button target="_blank" rel="nofollow noreferer nopenner" href="https://www.youtube.com/@SofiDev" class="button-youtube"  >
  <iconify-icon icon="uim:youtube" width="27" height="27" style="color: #f9f9f9"></iconify-icon>
  Suscríbete en Youtube
</Button>
<SocialIcons />
<div class="cardWrapper">
  {posts?.map((post) => <CardSidebar {...post} />)}
  <script is:inline async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3828278469742835"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-fb+5w+4e-db+86"
     data-ad-client="ca-pub-3828278469742835"
     data-ad-slot="3206495952"></ins>
<script is:inline>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
