---
import { getCategoriesWithPosts } from "@src/services/categoriesWithPosts";
const { category } = Astro.props;


import SocialIcons from "@src/components/atoms/SocialIcons/SocialIcons.astro";
import CardSidebar from "./cards-sidebar/CardSidebar.astro";
import Button from "@src/components/atoms/Button/Button.astro";
const sidecardData = await getCategoriesWithPosts();
const categoryName = category.name.toLowerCase().replaceAll(" ", "-");

const posts = sidecardData?.[categoryName]?.[0]?.posts?.slice?.(0, 3);
---
<div id="toc__container"></div>
<Button href="#" class="button-youtube"  text="Suscribirse">
  <iconify-icon icon="uim:youtube" width="30" height="30" style="color: #f9f9f9"></iconify-icon>
  Suscríbete en Youtube
</Button>
<SocialIcons />
<div class="cardWrapper">
  {posts?.map((post) => <CardSidebar {...post} />)}
</div>
