@use "@sass/variables" as v;
@use "@sass/mixins" as mixins;

.card-big {
    @include mixins.centerFlex();
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 544px;
    margin: 0 auto;
    background: var(--bg-card);
    border-radius: 1.2rem;
    padding: 1.6rem;
    color: var(--mainColor);
    @include mixins.respond-to("medium") {
        max-width: 35rem;
    }
    &__container{
        overflow: hidden;
        height: fit-content;
        position: relative;
        border-radius: 1.2rem 1.2rem 1.2rem 0 ;
        width: 100%;
        height: 100%;
        max-width: 512px;
        height: 272px;
    }
  &:hover &__img {
    transform: scale(1.1);
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  .card__author {
    position: absolute;
    @include mixins.centerFlex();
    align-self: flex-start;
    gap: 1rem;
    background-color: var(--bg-card);
    top: 75%;
    z-index: 10;
    border-radius: 0 12px 0 0;
    padding: 0.4rem 1rem;
    &::before {
        position: absolute;
        background: transparent;
        z-index: 10;
        content: "";
        top: -2rem;
        right: 23.4rem;
        width: 2rem;
        height: 2rem;
        border-bottom-left-radius: 1.25rem;
        box-shadow: -0.766rem 0.609rem 0 0.366rem var(--bg-card);
    }
      &::after {
        position: absolute;
        background: transparent;
        z-index: 10;
        content: "";
        top: 4.9rem;
        right: -2rem;
        width: 2rem;
        height: 2rem;
        border-bottom-left-radius: 1.25rem;
        box-shadow: -0.590rem 0.657rem 0 0.300rem var(--bg-card);
    }

    &__avatar {
      border-radius: 50%;
      width: 6.3rem;
      height: 6.3rem;
      object-fit: cover;
    }
    &__name {
      color: var(--mainColor);
      font-weight: 600;
    }
  }
  &__content {
    @include mixins.centerFlex(center, flex-start);
    flex-direction: column;
    gap: 1rem;
    &__link {
        font-weight: 700;
        &:hover h2{
            color: v.$french-violet;
        }
    }
    & h2{
        color: var(--mainColor);
        font-size: 2rem;
        text-wrap: balance;
    }

  }
}
