@use "@sass/variables" as *;
@use "@sass/mixins" as *;

.github {
    @include centerFlex();
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    min-height: 40dvh;

    &__anim {

        @include centerFlex();
    }

    .branch-container {
        position: relative;
        @include centerFlex();
    }

    .merge-branch {
        position: absolute;
        top: -5rem;
    }

    .diverge-branch {
        position: absolute;
        bottom: -5rem;
    }

    .icon {
        background: rgba(0, 0, 0, 0.362);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        padding: 2rem;
        border-radius: 12px;
        border: 1px solid rgba(16, 255, 191, 0.698);
        z-index: 10;
    }


    #line-1 {
        stroke-dasharray: 480;
        stroke-dashoffset: 480;
        animation: drawPath 4.4s ease-out forwards;
    }

    #line-2 {
        stroke-dasharray: 480;
        stroke-dashoffset: 480;
        animation: drawPath 4.1s ease-out forwards;
        animation-delay: .8s;
    }

    #line-3 {
        stroke-dasharray: 168;
        stroke-dashoffset: 168;
        animation: drawPath 2s ease-out forwards;
        animation-delay: .8s;
    }


    .buble {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .buble-main {
        background: #23ecfa;
        box-shadow: 0 0 13px 2px #00eeff;

        top: -1;

        &-1 {
            left: -5%;
        }

        &-2 {
            left: 10%;
        }

        &-3 {
            left: 30%;
        }

        &-4 {
            left: 50%;
        }

        &-5 {
            left: 73%;
        }

        &-6 {
            left: 87%;
        }

        &-7 {
            left: 100%;
        }
    }

    .buble-merge {
        background: #9747FF;
        box-shadow: 0 0 13px 2px #6f00ff;
        top: -5.6rem;
        &-1 {
            left: 35%;
        }
        &-2 {
            left: 63%;
        }
    }
    .buble-diverge {
        background: #FDAD01;
        box-shadow: 0 0 13px 2px #ff3c00;
        bottom: -5.6rem;
        &-1 {
            left: 44%;
        }
        &-2 {
            left: 63%;
        }
    }

}




@keyframes drawPath {
    to {
        stroke-dashoffset: 0;
    }
}