---
import MainBranch from "./svgs/MainBranch.astro";
import DivergeBranch from "./svgs/DivergeBranch.astro";
import GitIcon from "./svgs/GitIcon.astro";
import MergeBranch from "./svgs/MergeBranch.astro";
import SofiIcon from "./svgs/SofiIcon.astro";

const {pageData} = Astro.props;
---
<div class="cuadricula">

  <section class="github">
    <div class="github__anim">
    <div class="icon">
      <GitIcon  class="git-icon"/>
    </div>
    <div class="branch-container">
      <MergeBranch />
      <MainBranch />
      <DivergeBranch />
      <div class="buble buble-main buble-main-1"></div>
      <div class="buble buble-main buble-main-2"></div>
      <div class="buble buble-main buble-main-3"></div>
      <div class="buble buble-main buble-main-4"></div>
      <div class="buble buble-main buble-main-5"></div>
      <div class="buble buble-main buble-main-6"></div>
      <div class="buble buble-main buble-main-7"></div>

      <div class="buble buble-merge buble-merge-1"></div>
      <div class="buble buble-merge buble-merge-2"></div>
      <div class="buble buble-diverge buble-diverge-1"></div>
      <div class="buble buble-diverge buble-diverge-2"></div>
    </div>
    <div class="icon">
      <SofiIcon class="sofi-icon"/>
    </div>
  </div>

  <article class="github__content">
    <h2 class="support__title support__title--secondary">
      {pageData.content[2].attributes.content}
    </h2>
    <p class="github__description">
      {pageData.content[3].attributes.content}
    </p>

  </article>
</section>
</div>

<script>
  const container = document.querySelector(".github");
  const line1 = container.querySelector("#line-1");
  const line2 = container.querySelector("#line-2");
  const line3 = container.querySelector("#line-3");
  const bubles = container.querySelectorAll(".buble");


  const interceptBranch = (entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("active");
        return;
      }
      entry.target.classList.remove("active");
    });
  };

  const observer = new IntersectionObserver(interceptBranch);
  observer.observe(line1);
  observer.observe(line2);
  observer.observe(line3);

  bubles.forEach((buble) => {
    observer.observe(buble);
  });


</script>
