---
import MainBranch from "./svgs/MainBranch.astro";
import DivergeBranch from "./svgs/DivergeBranch.astro";
import GitIcon from "./svgs/GitIcon.astro";
import MergeBranch from "./svgs/MergeBranch.astro";
import SofiIcon from "./svgs/SofiIcon.astro";
---

<section class="github">
  <div class="github__anim">
    <div class="icon">
      <GitIcon />
    </div>
    <div class="branch-container">
        <MergeBranch />
        <MainBranch />
        <DivergeBranch />
        <div class="buble buble-main buble-main-1"></div>
        <div class="buble buble-main buble-main-2 "></div>
        <div class="buble buble-main buble-main-3"></div>
        <div class="buble buble-main buble-main-4"></div>
        <div class="buble buble-main buble-main-5"></div>
        <div class="buble buble-main buble-main-6"></div>
        <div class="buble buble-main buble-main-7"></div>

        <div class="buble buble-merge buble-merge-1 "></div>
        <div class="buble buble-merge buble-merge-2"></div>
        <div class="buble buble-diverge buble-diverge-1"></div>
        <div class="buble buble-diverge buble-diverge-2"></div>
      </div>
    </div>

    <div class="icon">
      <SofiIcon />
    </div>
</section>
