@use "./github-anim/github-anim";
@use "./contributtors/contributtors";
@use "./contributor/contributor";
@use "@sass/variables" as *;
@use "@sass/mixins" as *;

.support {
    @include flexConfig();
    gap: 10rem;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem;
    min-height: 100dvh;
    @include respond-to(medium) {
     flex-direction: column;
     gap: 1rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex: 1;
        @include respond-to(medium) {
            justify-content: flex-end;
        }
    }

    &__title {
        font-size: 4rem;
        font-weight: 800;
        background: $text-over-light;
        color: $dark-violet;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-family: "Montserrat Variable", sans-serif;
        &--secondary {
            font-size: 3.4rem;
        }
    }
    &__desc{
        color: white;
        text-wrap: pretty;
    }

    &__container {
        @include flexConfig();
        background: $light-violet;
        padding: 1rem;
        overflow: hidden;
        border-radius: 50%;
        width: 379px;
        height: 379px;
        @include respond-to(medium) {
          width: 30rem;
          height: 30rem;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transform: translateY(26px);
    }

}