---
const { pageData } = Astro.props;
---

<section class="support">
  <div class="support__content">
    <h1 class="support__title">{pageData.title}</h1>
    <p class="support__desc">
      {pageData.content[0].attributes.content}
    </p>
  </div>
  <div class="support__container">
    <img
      src={pageData.content[1].attributes.url || "/img/avatar-support.webp"}
      alt="Avatar sofidev "
      class="support__image"
    />
  </div>
</section>
