---

---

<section class="support">
  <div class="support__content">
    <h1 class="support__title">¿De qué va este Blog?</h1>
    <p class="support__desc">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam nesciunt
      doloribus tenetur accusantium aspernatur adipisci repudiandae illo
      eligendi natus cum sapiente, quas impedit esse, in, temporibus obcaecati
      nisi ut deserunt?
    </p>
  </div>
  <div class="support__container">
    <img
      src="/img/avatar-support.webp"
      alt="Avatar sofidev dibujo patata"
      class="support__image"
    />
  </div>
</section>
