---
import type { Category } from "@src/types/category.type";
interface Props {
  categories: Category[];
  class?: string;
}
const { categories, class: className, ...rest } = Astro.props;
---

<div class="post-tag__categories">
  {
    categories.map((tag) => {
      return (
        <a
          class={`post-tag__category ${className}`}
          {...rest}
          href={`/categories/${tag.slug}`}
          aria-label={`Read more about ${tag.name}`}
        >
          {tag.name}
        </a>
      );
    })
  }
</div>

<style lang="scss">
  @use "@sass/variables" as v;
  .post-tag__categories {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .post-tag__category {
    padding: 0.42rem 0.83rem;
    border-radius: 16px;
    font-size: 1.1rem;
    color: white;
    background: v.$french-violet;
    transition:
      background 0.3s ease-in-out,
      color 0.3s ease-in-out;
    &:hover {
      background: black;
      color: #fff;
    }
  }
</style>
