---
import Layout from "@src/layouts/Layout.astro";
import PostCard from "@organisms/Posts/components/PostCard/PostCard.astro";
import Pagination from "@atoms/Pagination/Pagination.astro";
import { getCategorieBySlug } from "@src/services/categories";
const { slug } = Astro.params;

const category = await getCategorieBySlug(slug);
if (!category) {
  return Astro.redirect("/404");
}

// Configuración de paginación
const postsPerPage = 4;
const currentPage = Number(Astro.url.searchParams.get("page")) || 1;
const totalPages = Math.ceil(category.posts.length / postsPerPage);

// Obtener los posts para la página actual
const startIndex = (currentPage - 1) * postsPerPage;
const endIndex = startIndex + postsPerPage;
const paginatedPosts = category.posts.slice(startIndex, endIndex);
---

<Layout>
  <section class="categories">
    <div class="categories__cards">
      <h2 class="categories__title">
        Posts de la categoría: {category?.name}
      </h2>
      {
        paginatedPosts.length > 0 ? (
          <ul role="list" class="link-card-grid">
            {paginatedPosts.map((post) => {
              return (
                <li>
                  <PostCard {...post} />
                </li>
              );
            })}
          </ul>
        ) : (
          <div class="categories__cards">
            <p>No se encontraron posts en esta categoría. 🦝</p>
          </div>
        )
      }
      {
        totalPages > 1 && (
          <Pagination
            currentPage={currentPage}
            totalPages={totalPages}
            baseUrl={Astro.url.pathname}
          />
        )
      }
    </div>
  </section>
</Layout>

<style lang="scss" is:global>
  @use "@sass/variables" as v;
  @use "@sass/mixins" as *;
  main {
    margin: 0 auto !important;
    padding-top: 11rem !important;
    min-height: 100dvh;
    height: 100%;
  }
  .categories {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;

    &__title {
      font-size: 2.5rem;
      font-weight: 600;
      color: v.$french-violet;
      transition: color 0.3s ease-in-out;
    }
    &__cards {
      @include centerFlex(space-evenly);
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 3rem;
      padding: 2rem 1rem;
      height: fit-content;
    }
  }
</style>
