---
import Button from "@components/atoms/Button/Button.astro";
import Title from "@components/atoms/Title/Title.astro";
import LayoutNoHeader from "../layouts/LayoutNoHeader.astro";
export const prerender = true;
---

<LayoutNoHeader>
  <section class="error">
    <div class="error__container">
      <Title title="404 NOT FOUND" size="big" />
      <p class="error__message">
        La pagina a la que tratas de acceder no existe
      </p>
      <img class="error__image" src="/img/sofi-laptop.gif" alt="logo"  width="300" height="200" />
    </div>
    <Button id="backButton" href="/" class="error__button"> Volver al inicio </Button>
  </section>
</LayoutNoHeader>

<style lang="scss">
  .error {
    width: 100%;
    min-height: 100dvh;
    display: grid;
    place-content: center;
    justify-items: center;
    background: url("/img/Waneella.gif");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding: 0 1rem;
    &__image {
      width: 100%;
      max-width: 300px;
      height: auto;
    }
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      backdrop-filter: blur(14px);
      padding: 1rem 2rem;
      border-radius: 13px;
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 0 1px rgba(102, 255, 252, 0.341);
    }
    &__button {
      justify-content: center;
      text-align: center;
      margin-top: 2rem;
      width: 100%;
      max-width: 300px;
    }
  }

  .error__message {
    font-size: 1.8rem;
    color: aqua;
  }

</style>
