---
import Layout from "@layouts/Layout.astro";
import FirstCategory from "@pages/home/_components/FirstCategory.astro";
import FourthCategory from "@pages/home/_components/FourthCategory.astro";
import Hero from "@pages/home/_components/Hero.astro";
import Infinitecarousel from "@pages/home/_components/InfiniteCarousel.astro";
import SecondCategory from "@pages/home/_components/SecondCategory.astro";
import ThirdCategory from "@pages/home/_components/ThirdCategory.astro";
import { getCategoriesWithPosts } from "@services/querys/posts/getCategoriesWithPosts";
import BackgroundGradient from "@shared/ui/BackgroundGradient.astro";
import DividerBottom from "@shared/ui/DividerBottom.astro";
import DividerTop from "@shared/ui/DividerTop.astro";

const categoriesWithPosts = await getCategoriesWithPosts();
// export const prerender = true;
---

<Layout>
  <BackgroundGradient>
    <Hero title="Bienvenidos al SofiBlog" />
  </BackgroundGradient>
  <DividerTop fill="shape-fill-darkPurple" />
  {
    categoriesWithPosts["noticias-dev"] && (
      <FourthCategory
        {...categoriesWithPosts["noticias-dev"][0]}
        variant="horizontal"
      />
    )
  }
  <Infinitecarousel />
  <div class="add__block">
    <script
      is:inline
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3828278469742835"
      crossorigin="anonymous"></script>
    <!-- banerHorzontal -->
    <ins
      class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-3828278469742835"
      data-ad-slot="1391467357"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
    <script is:inline>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  {
    categoriesWithPosts["tutoriales"] && (
      <FirstCategory {...categoriesWithPosts["tutoriales"][0]} />
    )
  }
  <DividerTop fill="shape-fill-white" />
  {
    categoriesWithPosts["aprender-a-programar"] && (
      <SecondCategory {...categoriesWithPosts["aprender-a-programar"][0]} />
    )
  }
  <DividerBottom fill="shape-fill-white" />
  <div class="add__block">
    <script
      is:inline
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3828278469742835"
      crossorigin="anonymous"></script>
    <!-- banerHorzontal -->
    <ins
      class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-3828278469742835"
      data-ad-slot="1391467357"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
    <script is:inline>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  {
    categoriesWithPosts["astro"] && (
      <ThirdCategory {...categoriesWithPosts["astro"][0]} />
    )
  }
  <div class="add__block">
    <script
      is:inline
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3828278469742835"
      crossorigin="anonymous"></script>
    <!-- banerHorzontal -->
    <ins
      class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-3828278469742835"
      data-ad-slot="1391467357"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
    <script is:inline>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <DividerTop fill="shape-fill-white" />
  {
    categoriesWithPosts["javascript"] && (
      <SecondCategory
        reverse={true}
        {...categoriesWithPosts["javascript"][0]}
      />
    )
  }
  <DividerBottom fill="shape-fill-white" />
  {
    categoriesWithPosts["personal"] && (
      <FourthCategory {...categoriesWithPosts["personal"][0]} />
    )
  }
</Layout>

<style lang="scss">
  .add__block {
    display: flex;
    align-items: center;
    justify-content: center;
    // background: black;
    width: 100%;
    max-width: 900px;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 4rem auto;
  }
</style>
