---
import PostCard from "@src/components/atoms/PostCard/PostCard.astro";
import Title from "@src/components/atoms/Title/Title.astro";
import Layout from "@src/layouts/Layout.astro";
export const prerender = false;
import { searchPosts, getResults } from "@src/services/getResults";

const search = Astro.url.searchParams.get("search");
const headers = Astro.request.headers.get("X-Requested-With");

const posts = await searchPosts(search);
---

{
  headers !== "XMLHttpRequest" ? (
    <Layout title="Resultados">
      <section class="results">
        <Title titleDesc={`Resultados de ${search}`} size="big" />
        <ul role="list" class="link-card-grid">
          {posts.map((post) => (
            <PostCard {...post} />
          ))}
        </ul>
      </section>
    </Layout>
  ) : (
    <div>
      <h2>Resultados de {search}</h2>

      {posts.map((post) => (
        <PostCard {...post} />
      ))}
      <a href={`/resultados?search=${search}`}>All results</a>
    </div>
  )
}

<style lang="scss" is:global>
  @use "@sass/variables" as v;
  @use "@sass/mixins" as mixins;
  main {
    padding-top: 15rem;
  }
</style>
