---
import PostCard from "@organisms/Posts/Tutoriales/PostCard/PostCard.astro";
import Title from "@src/components/atoms/Title/Title.astro";
import Layout from "@src/layouts/Layout.astro";
import { searchPosts } from "@src/services/getResults";

const { url, request } = Astro;
const search = url.searchParams.get("search");
const header = request.headers.get("X-Requested-With");

console.log(header);
const posts = search && search === ""
  ? [] : await searchPosts(search);
---

{
  header !== "XMLHttpRequest" ? (
    <Layout title="Resultados">
      <section class="results">
        <Title titleDesc={`Resultados de ${search}`} class="results__title" />
        <ul role="list" class="link-card-grid">
          {posts.length !== 0 && posts.map((post) => (
            <PostCard {...post} />
          ))}
        </ul>
      </section>
    </Layout>
  ) : (
    <div>
      <h2>Resultados de {search}</h2>
      <a href={`/resultados?search=${search}`}>All results</a>
      {posts.length !== 0 && posts.map((post) => (
            <PostCard {...post} />
      ))}
    </div>
  )
}

<style lang="scss" is:global>
  @use "@sass/variables" as v;
  @use "@sass/mixins" as mixins;
  main {
    padding-top: 15rem!important;
  }
  .results{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;

    &__title {
      @include mixins.titleType("small");
      text-align: center;
      color: v.$french-violet;
      margin-bottom: 5rem;
      transition: color 0.3s ease-in-out;
    }
    &__cards {
      width: 100%;
      @include mixins.centerFlex(center);
      flex-direction: column;
      min-height: 380px;
      margin-bottom: 3rem;
    }
  }
</style>
