@use "@sass/variables" as v;
@use "@sass/mixins" as mixins;

.post-card {
  border:  var(--card-border);
  border-radius: 8px;
  background-color: var(--bg-card);
  overflow: hidden;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  min-height: 38rem;
  &:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
  &__image-container {
    position: relative;
    height: 13rem;
    overflow: hidden;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
  }
  &:hover &__image {
    transform: scale(1.1);
  }
  &__image-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover &__image-overlay {
    opacity: 1;
  }

  &__content {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    z-index: 3;
  }
  &__author {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    z-index: 200;
  }

  &__author-image {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }

  &__author-info {
    display: flex;
    flex-direction: column;
  }

  &__author-name {
    font-size: 1.4rem;
    font-weight: 600;
    color: v.$mainColor;
  }

  &__date {
    color: v.$ufo-green;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: #1a2a2e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: fit-content;
    width: 100%;
    padding: 0.3rem 0;
    gap: 0.5rem;
  }
  &__title {
    font-size: 1.6rem;
    font-weight: 600;
    color: v.$mainColor;
    margin-bottom: 0.5rem;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: v.$french-violet;
    }

    iconify-icon {
      color: v.$french-violet;
    }
  }

  &__excerpt p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__categories {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }

  &__category {
    padding: 0.42rem 0.83rem;
    border-radius: 16px;
    font-size: 1.1rem;
    color: white;
    background: v.$french-violet;
    transition:
      background 0.3s ease-in-out,
      color 0.3s ease-in-out;
    &:hover {
      background: black;
      color: #fff;
    }
  }

  &__read-more {
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: v.$french-violet;
    display: inline-flex;
    flex: 1;
    align-items: center;
    gap: 0.25rem;
    transition: color 0.3s ease-in-out;
  }
  &__read-more-icon {
    transition: transform 0.3s ease-in-out;
  }

  .post-card__read-more:hover &__read-more-icon {
    transform: translateX(0.8rem);
  }
}

.dark .post-card {
  & iconify-icon {
    color: v.$ufo-green;
  }
  &__excerpt {
    color: #cdcdcd;
  }


  &__read-more {
    color: v.$ufo-green;
  }
}
