---
import type {Contributtor} from "@src/types/contributtors.types.ts";
import {getContributtors} from "@src/services/getContributtors.js";

const contributors:Contributtor[] = await getContributtors();


---


<h1>Patata</h1>
