---
import { Content as Policy } from "@content/privacy-policy.md";
import Layout from "@layouts/Layout.astro";
import "./_privacy-policy.scss";
export const prerender = true;
---

<Layout title="Privacy Policy">
  <section class="privacy-policy">
    <Policy />
  </section>
</Layout>
