---
import { getCommentsByPostSlug, getRepliesByCommentId } from "@src/services/comments";
import Comment from "@src/components/molecules/Comment/Comment.astro";
import CommentForm from "@src/components/molecules/CommentForm/CommentForm.astro";
import type { AstroCookies } from "astro";

const { slug, userData } = Astro.props;
const comments = await getCommentsByPostSlug(slug);
---

<h2 class="text-2xl font-bold">Comentarios</h2>
<section class="flex flex-col mt-14 w-full" id="comments">

{
  comments.length > 0 &&
    comments.map( async (comment, index) => {
      const areFirstTwoComments = index < 2;
      const replies = await getRepliesByCommentId(comment.id);
      return (
        <Comment {...comment}>
            {
                replies.length > 0 && areFirstTwoComments &&
                replies.slice(0,2).map((reply) => {
                    return (
                        <Comment {...reply} />
                    );
                })
            }
        </Comment>
      );
    })

}
<CommentForm name={userData?.name} email={userData?.email}, website={userData?.website} />
</section>
