@use "@sass/variables" as v;
@use "@sass/mixins" as mixins;

.bg-section {
  background: v.$dark-violet;
  padding: 17rem 2rem;
  @include mixins.centerFlex();
  flex-direction: column;
}

.web-dev {
  @include mixins.centerFlex(center, flex-start);
  width: 100%;
  max-width: 1200px;
  min-height: 100dvh;
  flex-direction: column;
  margin: 0 auto;
  gap: 4rem;
  padding: 0 1rem;
  &__link {
    text-align: left;
  }
  &__title {
    text-align: left;
    margin-bottom: 4rem;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0px 10px;
    @include mixins.titleType("big");

    @include mixins.respond-to("medium") {
      @include mixins.titleType("small");
    }
  }
  &__container {
    padding-block-start: 1rem;
    padding-block-end: 8rem;
    writing-mode: horizontal-tb;

    flex-wrap: wrap;
    @include mixins.centerFlex(center, center);
    width: 100%;
    margin: 0 auto;
    gap: 2rem;
    @include mixins.respond-to("medium") {
      flex-wrap: wrap;
      flex-direction: column;
    }
  }
  &__list {
    @include mixins.centerFlex();
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
    flex: 1;
    @include mixins.respond-to("medium") {
      gap: 2rem;
    }
  }
}
