@use "@sass/variables" as v;
@use "@sass/mixins" as mixins;

.card-big {
    @include mixins.centerFlex();
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 544px;
    margin: 0 auto;
    background: var(--card-bg);
    border-radius: 1.2rem;
    padding:1.6rem;
    &__image__container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 1.2rem;
        width:512px;
        height: 272px;
        }
        &:hover &__img {
            transform: scale(1.1);
        }
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;


    }

}

/* color: var(--mainColor); */