---
import ThemeIcon from "@src/components/atoms/ThemeIcon.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "@molecules/Header/Header.astro";
import ButtonToTop from "@src/components/atoms/ButtonToTop/ButtonToTop.astro";
import CookiesBanner from "@src/components/atoms/CookiesBanner/CookiesBanner";

const { title, description, image } = Astro.props;
export const prerender = true

---

<html lang="es">
  <head>
    <BaseHead title={title} description={description} image={image} />
    <!-- Google tag (gtag.js) -->
    <script defer async src="https://www.googletagmanager.com/gtag/js?id=G-4HD0MHWJHW"
    ></script>
    <slot name="head" />
  </head>
  <body>
    <ThemeIcon />
    <ButtonToTop />
    <Header />
    <slot name="hero" />
    <main>
    <slot />
    </main>

    <script >

      </script>
      <CookiesBanner client:load />
  </body>
</html>

<style is:global lang="scss">
  main {
    margin: 0 auto;
    width: 100%;
    font-size: 20px;
    line-height: 1.6;
    min-height: 100dvh;
  }
</style>
