---
import ThemeIcon from "@src/components/atoms/ThemeIcon.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "@molecules/Header/Header.astro";
import ButtonToTop from "@src/components/atoms/ButtonToTop/ButtonToTop.astro";
import { getBlockStyling } from "@wp-block-tools/styles";
const pathName = Astro.url.pathname;
const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
  method: "POST",
  headers: {
    "content-type": "application/json"
  },
  body: JSON.stringify({
    query: `
      query PageData {
        cssVariables
      }
    `
  })
});
const { data: { cssVariables } } = await response.json();
---

<html lang="en">
  <head>
    {!!cssVariables && <style set:html={`:root{${cssVariables}}`} />}

    {
      pathName === "/"
        ? <BaseHead  />
        : <BaseHead title={pathName.charAt(1).toUpperCase() + pathName.slice(2).split("/")[0]} />
    }
  </head>
  <body>
    <ThemeIcon />
    <ButtonToTop />
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>