---
import ThemeIcon from "@src/components/atoms/ThemeIcon.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "@molecules/Header/Header.astro";
import ButtonToTop from "@src/components/atoms/ButtonToTop/ButtonToTop.astro";
import DividerTop from "../components/atoms/DividerTop /DividerTop.astro";


const {
  title,
  description,
  image,
} = Astro.props;

---

<html lang="en">
  <head>
    <BaseHead  title={title} description={description} image={image}  />
    <slot name="head" />
  </head>
  <body>
    <ThemeIcon />
    <ButtonToTop />
    <Header/>
    <slot name="background" />

    <main>
      <slot />
    </main>
  </body>
</html>