---
import ThemeIcon from "@src/components/atoms/ThemeIcon.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "@molecules/Header/Header.astro";
import ButtonToTop from "@src/components/atoms/ButtonToTop/ButtonToTop.astro";



const {
  title,
  description,
  image,
} = Astro.props;

---

<html lang="en">
  <head>
    <BaseHead  title={title} description={description} image={image}  />
    <slot name="head" />
  </head>
  <body>
    <ThemeIcon />
    <ButtonToTop />
    <Header/>
    <slot name="hero" />
    <main >
      <slot />
    </main>
  </body>
</html>

<style is:global lang="scss">
    main {
    margin: 5rem  auto;
    padding: 3rem 1rem 1rem 1rem;
    width: 100%;
    max-width: 1300px;
    font-size: 20px;
    line-height: 1.6;
  }
</style>