
@use '@sass/mixins' as  *;

.bRadius{
    border-radius: 12px;
}

.sideCard{
    padding: 1rem;
    @include flexConfig(center, flex-start);
    flex-direction: column;
    width: 100%;
    height: fit-content;
    min-height: 10dvh;
    box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.65);
    @extend .bRadius;
    color: var(--text-color);
    &:hover .cardImage{
        transform: scale(1.1);
    }
}
.cardContainer{
    overflow: hidden;
    @extend .bRadius;
    .cardImage{
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 16/9;
        transition: transform 0.3s ease-in-out;
    }
}
.cardTitle{
    text-align:left;
    margin-top:.4rem;
    font-size: 2rem;
    font-weight: 700;
}
.cardExcerpt{
    text-align: left;
    margin-top:.4rem;
    font-size: 1.4rem;
    font-weight: 500;
}
