@use "@sass/variables" as v;
@use "@sass/mixins" as mixins;
@use "@atoms/Logo/logo";
@use "@atoms/hamburgerBtn/hamburger";

.header {

  @include mixins.centerFlex(center);
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding: 1rem 1rem;
  &__container {
    backdrop-filter: blur(17px);
    @include mixins.centerFlex(space-between);
    width: 100%;
    min-height: 8dvh;
    max-width: 1200px;
    background: black;
    background: rgba(0, 0, 0, 0.767);
    border-radius: 16px;
    padding: 1rem 2rem;
    z-index: 50;
  }
  &__menu {
    height: 100%;
    @include mixins.centerFlex(flex-start);
    .header__list {
      display: flex;
      align-items: center;
      .header__icons {
        display: none;
        @include mixins.respond-to("medium") {
          display: block;
        }
      }
    }
  }
  &__list > *:not(a) {
    display: flex;
    margin-right: 1.5rem;
    list-style: none;
    @include mixins.respond-to("medium") {
      margin-bottom: 2rem;
      .header__link {
        font-size: 2rem;
      }
    }
  }

  &__link {
    color: aqua;
    font-weight: bold;
    position: relative;

    &:hover {
      @include mixins.text-gradient();
    }
  }
  &__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 100%;
    transform: scale(0);
    transform-origin: 1;
    height: 2px;
    transition: 0.35s transform;
    background: v.$ufo-green;
  }

  &__link:hover::after {
    transform: scale(1);
  }
  &__item {
    position: relative;
    margin-right: 1rem;
    display: flex;
    align-items: center;

    iconify-icon {
      color: aqua;
    }

    &::after {
      content: "";
      position: absolute;
      display: none;
      width: 100%;
      height: 32px;
      top: 25px;
    }

    &:hover {
      &::after {
        display: block;
      }
    }
  }
}

@include mixins.respond-to("medium") {
  .header {
    &__container {
      justify-content: space-between;
      align-self: center;
      height: auto;
      min-width: 24rem;
      padding: 0.8rem 1rem;
    }

    &__menu {
      transition: transform 0.6s ease;
      position: absolute;
      transform: translateX(100%);
      right: -14px;
      top: -10px;
      width: 103vw;
      height: 100dvh;
      padding-left: 3rem;
      background: black;
    }
    &__list {
      width: 100%;
      height: 100dvh;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: 14rem;
    }
  }

  .header__menu.is-active {
    transform: translateX(0%);
    border-radius: 14px 0 0 14px;
  }
}

.header__menu .header__list .dropdown {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #030405;
  z-index: 50;
  padding: 10px;
  border-radius: 8px;
  z-index: -1;
  opacity: 0;

  &__item {
    width: 100%;
    margin: 0;
    padding: 0;


  }

  &__link {

    text-transform: capitalize;
    text-align: center;
    padding: 5px 0px;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
    color: white;
    border-radius: 4px;

    &:hover {
      background-color: #383838;
    }
  }

  &__icon {
    font-size: 2.5rem;
    transform: rotate(-90deg);
    transition: transform 0.4s ease-in-out;
    @include mixins.respond-to("medium") {
      font-size: 3.4rem;
      margin-left: 1rem;
    }
  }
}

.header__item:hover .dropdown {
  transition: all 0.6s ease;
  opacity: 1;
  display: block;
  transform: translateY(30px);

  @starting-style {
    opacity: 0;
    display: none;
    transform: translateY(0px);
  }
}
.header__item:hover .dropdown__icon {
  transform: rotate(0deg);
}

.dark {
  .header__link {
    color: aqua;
  }
  .header__menu .header__list .dropdown a {
    color: aqua;
  }
}
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
  z-index: 10;
  margin-top: 0.3rem;
  &__item {
    padding: 0.5rem 1rem;
    white-space: nowrap;
  }
}

.dropdown__link {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
}

.header__item:hover .dropdown {
  display: block;
}