---
import Logo from "@atoms/Logo/Logo.astro";
import HamburgerButton from "@atoms/hamburgerBtn/hamburgerBtn.astro";
import NavMenu from "@src/components/atoms/NavMenu/NavMenu.astro";


---

<script>
  import "@controllers/hamburger.controller";
</script>

<header class="header">
  <div class="header__container">
    <Logo />
    <NavMenu  />
    <HamburgerButton />
  </div>
</header>

<style lang="scss" is:global>
  .header {
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__menu {
      display: flex;
    }
    &__list {
      display: flex;
      list-style: none;
      margin-right: 0.5rem;
    }
    &__item {
      position: relative;
      margin-right: 1rem;
      display: flex;
      align-items: center;
      iconify-icon {
        color: aqua;
      }

      &:hover .dropdown {
        display: block;
      }
    }
    &__link {
      text-decoration: none;
      color: aqua;
      display: flex;
      align-items: center;
      gap: 0.3rem;
    }
  }

  .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
    z-index: 10;
    margin-top: 0.3rem;
    &__item {
      padding: 0.5rem 1rem;
      white-space: nowrap;
    }
  }

  .dropdown__link {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
  }

  .header__item:hover .dropdown {
    display: block;
  }
</style>
