---
import { menuData } from "@data/menuData";
import Logo from "@atoms/Logo/Logo.astro";
import HamburgerButton from "@atoms/hamburgerBtn/hamburgerBtn.astro";
const pagePathname = Astro.url.pathname;
---

<script>
  import "@controllers/hamburger.controller";

</script>

<header class="header">
  <div class="header__container blur">
    <Logo />
    <nav class="header__menu">
      <ul class="header__list">
        { pagePathname !== "/"
       &&
       <li class="header__item">
        <a class="header__link" href="/">Home</a>
        </li>
        }
        {
          menuData.map((data) => (
            <li class="header__item">
              <a class="header__link" href={data.link}>
                {data.text}
              </a>
            </li>
          ))
        }
        <div class="header__icons">
        </div>
      </ul>
    </nav>
    <HamburgerButton />
  </div>
</header>