---
import Logo from "@atoms/Logo/Logo.astro";
import HamburgerButton from "@atoms/hamburgerBtn/hamburgerBtn.astro";
import NavMenu from "@molecules/Header/NavMenu/NavMenu.astro";
export const prerender = false;
---

<script>
  import "@controllers/hamburger.controller";
</script>
<header class="header">
  <div class="header__container">
    <Logo />
    <NavMenu />
    <HamburgerButton />
  </div>
</header>
