@use "@sass/variables" as v;
@use "@sass/mixins" as mixins;
.categories__container {
  @include mixins.centerFlex();
  flex-direction: column;
  padding: 21rem 0 10rem;

  .category {
    width: 90vw;
    max-width: 1180px;
    @include mixins.centerFlex(center, flex-start);
    flex-direction: column;
    gap: 3rem;
    &__link {
      align-self: flex-start;
      text-align: left;
      &__title {
        @include mixins.titleType("big");
        text-align: left;
        margin-bottom: 4rem;
        width: 100%;

        @include mixins.respond-to("medium") {
          @include mixins.titleType("small");
        }
      }
    }
  }

}

.link-card-grid {
  display: grid;
  place-content: start;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 19%));
  grid-template-rows: auto;
  gap: 2rem;
  justify-content: center;
  width: 100%;
  @include mixins.respond-to("medium") {
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 21.7%));
  }
}
